/*------ pagination area style start ------*/
.paginatoin-area {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid var(--theme-border-color);
  }
  
  .pagination-box {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .pagination-box li {
    margin-right: 5px;
    display: inline-block;
  }
  
  .pagination-box li:last-child {
    margin-right: 0;
  }
  
  .pagination-box li button {
    color: var(--theme-text-strong);
    height: 36px;
    width: 36px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    background-color: var(--theme-surface-muted);
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  
  .pagination-box li button i {
    font-size: 30px;
    line-height: 36px;
  }
  
  .pagination-box li button:hover {
    color: var(--theme-text-black);
    background-color: var(--theme-light-active-color);
    border-color: var(--theme-active-color);
  }
  
  .pagination-box li.active button {
    color: var(--white-color);
    background-color: var(--theme-active-color);
  }
  
  /*------ pagination area style end ------*/
  