.shop-product-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
}


@media (max-width: 1024px) {
  .shop-product-wrap {
      grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 768px) {
  .shop-product-wrap {
      display: flex;
      flex-direction: column; 
      gap: 10px;
  }
}